.CreateForm{
    /* https://www.templatemonster.com/help/css-understanding-border-margin-and-padding-properties.html */
    margin-left: 50px; /* defines space around the border */
    padding-left: 25px; /* defines space between border and element */
    padding-bottom: 10px;
    width: 25%;
    border-color: rgb(0, 51, 204); 
    border-width:3px;  
    border-style:groove;
}
