.Home{
  height: auto;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Buttons {
  display: inline-block;
  width: 320px;
  text-align: center;
}

.createBtnContainer {
  display: inline-block;
  margin-right: 3%;
  width: 150px;
  text-decoration: none;
}

.joinBtnContainer {
  display: inline-block;
  margin-left: 3%;
  width: 150px;
  text-decoration: none;

}
