.pollQuestion{
    padding: 15px;
    border: 0;
    margin: 8px;
    font-size: 20px;
    border-radius: 10px;
    width: 84vw;
    text-align: left;
}

.pollQuestion:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}